.zkb-map-container {
  overflow: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: absolute; }
  .zkb-map-container .zkb-map-canvas {
    position: absolute;
    z-index: 10; }
  .zkb-map-container .zkb-map-kill-log {
    padding: 7px;
    position: relative;
    z-index: 20;
    max-width: 210px; }
    .zkb-map-container .zkb-map-kill-log .zkb-map-kill {
      padding: 7px 0 0 7px;
      display: none; }
      .zkb-map-container .zkb-map-kill-log .zkb-map-kill a {
        text-decoration: none; }
        .zkb-map-container .zkb-map-kill-log .zkb-map-kill a img {
          width: 35px;
          height: 35px;
          border-radius: 7px; }
  .zkb-map-container .zkb-map-region-selector {
    color: #888888;
    position: absolute;
    z-index: 30;
    right: 28px;
    text-align: right; }
    .zkb-map-container .zkb-map-region-selector ul {
      list-style-type: none; }
    .zkb-map-container .zkb-map-region-selector li {
      display: none;
      padding-bottom: 7px; }
      .zkb-map-container .zkb-map-region-selector li.current {
        display: block; }
    .zkb-map-container .zkb-map-region-selector:hover ul {
      color: white; }
    .zkb-map-container .zkb-map-region-selector:hover li {
      display: block;
      cursor: pointer; }
  .zkb-map-container .zkb-map-info-popup {
    position: absolute;
    z-index: 25;
    color: white;
    opacity: 0.7; }
    .zkb-map-container .zkb-map-info-popup img {
      position: absolute;
      top: 0;
      left: 0; }
    .zkb-map-container .zkb-map-info-popup div {
      position: absolute;
      left: 105px;
      top: 8.4px;
      width: 350px; }
