$scale-unit: 7px;
$zkb-muted-color: #888888;
$zkb-active-color: #FFFFFF;

.zkb-map-container {
  overflow: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: absolute;

  .zkb-map-canvas {
    position: absolute;
    z-index: 10;
  }

  .zkb-map-kill-log {
    padding: $scale-unit;
    position: relative;
    z-index: 20;
    max-width: $scale-unit * 30;

    .zkb-map-kill {
      padding: $scale-unit 0 0 $scale-unit;
      display: none;

      a {
        text-decoration: none;

        img {
          width: $scale-unit * 5;
          height: $scale-unit * 5;
          border-radius: $scale-unit;
        }
      }
    }
  }

  .zkb-map-region-selector {
    color: $zkb-muted-color;
    position: absolute;
    z-index: 30;
    right: $scale-unit * 4;
    text-align: right;

    ul {
      list-style-type: none;
    }

    li {
      display: none;
      padding-bottom: $scale-unit;
      &.current {
        display: block;
      }
    }

    &:hover {
      ul {
        color: $zkb-active-color;
      }
      li {
        display: block;
        cursor: pointer;
      }
    }
  }

  .zkb-map-info-popup {
    position: absolute;
    z-index: 25;
    color: $zkb-active-color;
    opacity: 0.7;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
    div {
      position: absolute;
      left: $scale-unit * 15;
      top: $scale-unit * 1.2;
      width: $scale-unit * 50;
    }
  }
}
